<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>关于我们</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" media="all" />
<!--// css -->
<!-- font-awesome icons -->
<link th:href="@{/css/font-awesome.css}" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- font -->
<link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<!-- //font -->
<script th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<!-- parallax -->
	<script th:src="@{/js/SmoothScroll.min.js}"></script>
	<script th:src="@{/js/jarallax.js}"></script>
	<!-- //parallax -->
</head>
<body>
	<!-- banner -->
<!--	<div class="banner about-bg">-->
<!--		<div class="top-banner about-top-banner">-->
<!--			<div class="container">-->
<!--				<div class="top-banner-left">-->
<!--					<ul>-->
<!--						<li><i class="fa fa-phone" aria-hidden="true"></i> +1 234 567 8901</li>-->
<!--						<li><a href="mailto:example@email.com"><i class="fa fa-envelope" aria-hidden="true"></i> mail@example.com</a></li>-->
<!--					</ul>-->
<!--				</div>-->
<!--				<div class="top-banner-right">-->
<!--					<ul>-->
<!--						<li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
<!--						<li><a class="facebook" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
<!--						<li><a class="facebook" href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>-->
<!--						<li><a class="facebook" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>-->
<!--					</ul>-->
<!--				</div>-->
<!--				<div class="clearfix"> </div>-->
<!--			</div>-->
<!--		</div>-->
<!--		<div class="header">-->
<!--			<div class="container">-->
<!--				<div class="logo">-->
<!--					<h1>-->
<!--						<a href="index.html">My Trip</a>-->
<!--					</h1>-->
<!--				</div>-->
<!--				<div class="top-nav">-->
<!--					<nav class="navbar navbar-default">-->
<!--							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu						-->
<!--							</button>-->
<!--						&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
<!--						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
<!--							<ul class="nav navbar-nav">-->
<!--								<li><a href="index.html">Home</a></li>-->
<!--								<li><a class="active" href="about.html">About</a></li>-->
<!--								<li><a href="services.html">Services</a></li>-->
<!--								<li><a href="codes.html">Codes</a></li>	-->
<!--								<li><a href="gallery.html">Gallery</a></li>-->
<!--								<li><a href="contact.html">Contact</a></li>-->
<!--								<div class="clearfix"> </div>-->
<!--							</ul>	-->
<!--						</div>	-->
<!--					</nav>		-->
<!--				</div>-->
<!--				<div class="clearfix"> </div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
	<!-- //banner -->
	<div th:replace="~{templates/banner1.html}"></div>
	<!-- a-about -->
	<div class="a-grid">
		<div class="container">
			<div class="w3l-about-heading">
				<h2>关于我们</h2>
				<p>星空无尽，添码无穷.</p>
			</div>
			<div class="agileits-a-about-grids">
				<div class="col-md-5 agileits-a-about-left">
					<img src="images/a1.jpg" alt="" />
				</div>
				<div class="col-md-7 agileits-a-about-right">
					<h3>关于我们的几句话</h3>
					<h4>一群初出茅庐的编程者（菜鸟），在编程的路上越走越远，越陷越深，无法自拔. </h4>
					<h4>成员：</h4>
					<p>辛小虎</p>
					<p>张泽云</p>
					<p>王小博</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div th:replace="~{templates/footer.html}"></div>
</body>
<script type="text/javascript">
	window.onload=function (ev) {
		$(".active").attr("class",'');
		$("a[href=about]").attr("class", 'active');
	}
</script>
</html>