<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Gallery:: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<!--// css -->
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- gallery -->
<link href='css/simplelightbox.min.css' rel='stylesheet' type='text/css'>
<!-- //gallery -->
<!-- font -->
<link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<!-- parallax -->
<script src="js/SmoothScroll.min.js"></script>
<!-- //parallax -->
</head>
<body>
	<!-- banner -->
<!--	<div class="banner about-bg">-->
<!--		<div class="top-banner about-top-banner">-->
<!--			<div class="container">-->
<!--				<div class="top-banner-left">-->
<!--					<ul>-->
<!--						<li><i class="fa fa-phone" aria-hidden="true"></i> +1 234 567 8901</li>-->
<!--						<li><a href="mailto:example@email.com"><i class="fa fa-envelope" aria-hidden="true"></i> mail@example.com</a></li>-->
<!--					</ul>-->
<!--				</div>-->
<!--				<div class="top-banner-right">-->
<!--					<ul>-->
<!--						<li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
<!--						<li><a class="facebook" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
<!--						<li><a class="facebook" href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>-->
<!--						<li><a class="facebook" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>-->
<!--					</ul>-->
<!--				</div>-->
<!--				<div class="clearfix"> </div>-->
<!--			</div>-->
<!--		</div>-->
<!--		<div class="header">-->
<!--			<div class="container">-->
<!--				<div class="logo">-->
<!--					<h1>-->
<!--						<a href="index.html">My Trip</a>-->
<!--					</h1>-->
<!--				</div>-->
<!--				<div class="top-nav">-->
<!--					<nav class="navbar navbar-default">-->
<!--							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu						-->
<!--							</button>-->
<!--						&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
<!--						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
<!--							<ul class="nav navbar-nav">-->
<!--								<li><a href="index.html">Home</a></li>-->
<!--								<li><a href="about.html">About</a></li>-->
<!--								<li><a href="services.html">Services</a></li>-->
<!--								<li><a href="codes.html">Codes</a></li>	-->
<!--								<li><a class="active" href="gallery.html">Gallery</a></li>-->
<!--								<li><a href="contact.html">Contact</a></li>-->
<!--								<div class="clearfix"> </div>-->
<!--							</ul>	-->
<!--						</div>	-->
<!--					</nav>		-->
<!--				</div>-->
<!--				<div class="clearfix"> </div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
	<!-- //banner -->
	<div th:replace="~{templates/banner1.html}"></div>
	<!-- a-about -->
	<div class="a-grid">
		<div class="container">
			<div class="w3l-about-heading">
				<h2>画廊</h2>
				<p>汇集世间美景，胜地一览无余.</p>
			</div>
			<div class="gallery">	
				<div class="gallery-bg">
					<div class="gallery-bg-text effect-2">
						<a style="cursor:pointer;" th:onclick="toInfo([[${scenicSpots.get(0).scenicSpotId}]])" class="big">
							<img style="height: 224px" th:src="'upload/'+${scenicSpots.get(0).scenicSpotImg}" alt="" title="单击查看景点详情" />
							<a th:text="${scenicSpots[0].scenicSpotName}"></a>
						</a>
					</div>
				</div>
				<div class="gallery-small gallery-middle">
					<div class="gallery-small-text effect-3">
						<a style="cursor:pointer;" th:onclick="toInfo([[${scenicSpots.get(1).scenicSpotId}]])">
							<img style="width: 224px;height: 224px" th:src="'upload/'+${scenicSpots.get(1).scenicSpotImg}" alt="" title="单击查看景点详情"/>
							<a th:text="${scenicSpots[1].scenicSpotName}"></a>
						</a>
					</div>
				</div>
				<div class="gallery-small gallery-middle">
					<div class="gallery-small-text effect-3">
						<a style="cursor:pointer;" th:onclick="toInfo([[${scenicSpots.get(2).scenicSpotId}]])">
							<img style="width: 224px;height: 224px" th:src="'upload/'+${scenicSpots.get(2).scenicSpotImg}" alt="" title="单击查看景点详情"/>
							<a th:text="${scenicSpots[2].scenicSpotName}"></a>
						</a>
					</div>
				</div>
				<div class="gallery-small gallery-middle">
					<div class="gallery-small-text effect-3">
						<a style="cursor:pointer;" th:onclick="toInfo([[${scenicSpots.get(3).scenicSpotId}]])">
							<img style="width: 224px;height: 224px" th:src="'upload/'+${scenicSpots.get(3).scenicSpotImg}" alt="" title="单击查看景点详情"/>
							<a th:text="${scenicSpots[3].scenicSpotName}"></a>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>

				<div class="gallery-small gallery-middle">
					<div class="gallery-small-text effect-3">
						<a style="cursor:pointer;" th:onclick="toInfo([[${scenicSpots.get(4).scenicSpotId}]])">
							<img style="width: 224px;height: 224px" th:src="'upload/'+${scenicSpots.get(4).scenicSpotImg}" alt="" title="单击查看景点详情"/>
							<a th:text="${scenicSpots[4].scenicSpotName}"></a>
						</a>
					</div>
				</div>
				<div class="gallery-bg">
					<div class="gallery-bg-text effect-2">
						<a style="cursor:pointer;" th:onclick="toInfo([[${scenicSpots.get(5).scenicSpotId}]])" class="big">
							<img style="height: 224px" th:src="'upload/'+${scenicSpots.get(5).scenicSpotImg}" alt="" title="单击查看景点详情" />
							<a th:text="${scenicSpots[5].scenicSpotName}"></a>
						</a>
					</div>
				</div>
				<div class="gallery-small gallery-middle">
					<div class="gallery-small-text effect-3">
						<a style="cursor:pointer;" th:onclick="toInfo([[${scenicSpots.get(6).scenicSpotId}]])">
							<img style="width: 224px;height: 224px" th:src="'upload/'+${scenicSpots.get(6).scenicSpotImg}" alt="" title="单击查看景点详情"/>
							<a th:text="${scenicSpots[6].scenicSpotName}"></a>
						</a>
					</div>
				</div>
				<div class="gallery-small gallery-middle">
					<div class="gallery-small-text effect-3">
						<a style="cursor:pointer;" th:onclick="toInfo([[${scenicSpots.get(7).scenicSpotId}]])">
							<img style="width: 224px;height: 224px" th:src="'upload/'+${scenicSpots.get(7).scenicSpotImg}" alt="" title="单击查看景点详情"/>
							<a th:text="${scenicSpots[7].scenicSpotName}"></a>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>

				<div class="gallery-bg">
					<div class="gallery-bg-text effect-2">
						<a style="cursor:pointer;" th:onclick="toInfo([[${scenicSpots.get(8).scenicSpotId}]])" class="big">
							<img style="height: 224px" th:src="'upload/'+${scenicSpots.get(8).scenicSpotImg}" alt="" title="单击查看景点详情" />
							<a th:text="${scenicSpots[8].scenicSpotName}"></a>
						</a>
					</div>
				</div>
				<div class="gallery-small gallery-middle">
					<div class="gallery-small-text effect-3">
						<a style="cursor:pointer;" th:onclick="toInfo([[${scenicSpots.get(9).scenicSpotId}]])">
							<img style="width: 224px;height: 224px" th:src="'upload/'+${scenicSpots.get(9).scenicSpotImg}" alt="" title="单击查看景点详情"/>
							<a th:text="${scenicSpots[9].scenicSpotName}"></a>
						</a>
					</div>
				</div>
				<div class="gallery-small gallery-middle">
					<div class="gallery-small-text effect-3">
						<a style="cursor:pointer;" th:onclick="toInfo([[${scenicSpots.get(10).scenicSpotId}]])">
							<img style="width: 224px;height: 224px" th:src="'upload/'+${scenicSpots.get(10).scenicSpotImg}" alt="" title="单击查看景点详情"/>
							<a th:text="${scenicSpots[10].scenicSpotName}"></a>
						</a>
					</div>
				</div>
				<div class="gallery-small gallery-middle">
					<div class="gallery-small-text effect-3">
						<a style="cursor:pointer;" th:onclick="toInfo([[${scenicSpots.get(11).scenicSpotId}]])">
							<img style="width: 224px;height: 224px" th:src="'upload/'+${scenicSpots.get(11).scenicSpotImg}" alt="" title="单击查看景点详情"/>
							<a th:text="${scenicSpots[11].scenicSpotName}"></a>
						</a>
					</div>
				</div>

				<div class="clearfix"></div>

				<div class="gallery-small gallery-middle">
					<div class="gallery-small-text effect-3">
						<a style="cursor:pointer;" th:onclick="toInfo([[${scenicSpots.get(12).scenicSpotId}]])">
							<img style="width: 224px;height: 224px" th:src="'upload/'+${scenicSpots.get(12).scenicSpotImg}" alt="" title="单击查看景点详情"/>
							<a th:text="${scenicSpots[12].scenicSpotName}"></a>
						</a>
					</div>
				</div>
				<div class="gallery-small gallery-middle">
					<div class="gallery-small-text effect-3">
						<a style="cursor:pointer;" th:onclick="toInfo([[${scenicSpots.get(13).scenicSpotId}]])">
							<img style="width: 224px;height: 224px" th:src="'upload/'+${scenicSpots.get(13).scenicSpotImg}" alt="" title="单击查看景点详情"/>
							<a th:text="${scenicSpots[13].scenicSpotName}"></a>
						</a>
					</div>
				</div>
				<div class="gallery-small gallery-middle">
					<div class="gallery-small-text effect-3">
						<a style="cursor:pointer;" th:onclick="toInfo([[${scenicSpots.get(14).scenicSpotId}]])">
							<img style="width: 224px;height: 224px" th:src="'upload/'+${scenicSpots.get(14).scenicSpotImg}" alt="" title="单击查看景点详情"/>
							<a th:text="${scenicSpots[14].scenicSpotName}"></a>
						</a>
					</div>
				</div>
				<div class="gallery-bg">
					<div class="gallery-bg-text effect-2">
						<a style="cursor:pointer;" th:onclick="toInfo([[${scenicSpots.get(15).scenicSpotId}]])" class="big">
							<img style="height: 224px" th:src="'upload/'+${scenicSpots.get(15).scenicSpotImg}" alt="" title="单击查看景点详情" />
							<a th:text="${scenicSpots[15].scenicSpotName}"></a>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<script type="text/javascript" src="js/simple-lightbox.js"></script>
		</div>
	</div>
	<!-- //a-about -->
	<!-- footer -->
<!--	<div class="footer">-->
<!--		<div class="container">-->
<!--			<div class="footer-grids">-->
<!--				<div class="col-md-3 footer-grid">-->
<!--					<div class="footer-grid-heading">-->
<!--						<h4>Address</h4>-->
<!--					</div>-->
<!--					<div class="footer-grid-info">-->
<!--						<p>Eiusmod Tempor inc-->
<!--							<span>St Dolore Place,Kingsport 56777.</span>-->
<!--						</p>-->
<!--						<p class="phone">Phone : +1 123 456 789-->
<!--							<span>Email : <a href="mailto:example@email.com">mail@example.com</a></span>-->
<!--						</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-md-3 footer-grid">-->
<!--					<div class="footer-grid-heading">-->
<!--						<h4>Navigation</h4>-->
<!--					</div>-->
<!--					<div class="footer-grid-info">-->
<!--						<ul>-->
<!--							<li><a href="about.html">About</a></li>-->
<!--							<li><a href="services.html">Services</a></li>-->
<!--							<li><a href="gallery.html">Gallery</a></li>-->
<!--							<li><a href="contact.html">Contact</a></li>-->
<!--						</ul>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-md-3 footer-grid">-->
<!--					<div class="footer-grid-heading">-->
<!--						<h4>Follow</h4>-->
<!--					</div>-->
<!--					<div class="social">-->
<!--						<ul>-->
<!--							<li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
<!--							<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--							<li><a href="#"><i class="fa fa-rss"></i></a></li>-->
<!--							<li><a href="#"><i class="fa fa-vk"></i></a></li>-->
<!--						</ul>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-md-3 footer-grid">-->
<!--					<div class="footer-grid-heading">-->
<!--						<h4>Newsletter</h4>-->
<!--					</div>-->
<!--					<div class="footer-grid-info">-->
<!--						<form action="#" method="post">-->
<!--							<input type="email" id="mc4wp_email" name="EMAIL" placeholder="Enter your email here" required="">-->
<!--							<input type="submit" value="Subscribe">-->
<!--						</form>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="clearfix"> </div>-->
<!--			</div>-->
<!--			<div class="copyright">-->
<!--				<p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
	<!-- //footer -->
	<div th:replace="~{templates/footer.html}"></div>
	<script type="text/javascript">
		function toInfo(scenicSpotId) {
			location.href = "/toScenicSpotInfo?id=" + scenicSpotId+"&type=scenic";
		}
		window.onload=function (ev) {
			$(".active").attr("class",'');
			$("a[href=gallery]").attr("class", 'active');
		}
	</script>
</body>	
</html>