<table id="ssclass_manage_table" class="easyui-datagrid" title="景点分类管理" style="height:auto"
       data-options="
            rowNumbers:true,
            toolbar: '#ssclass_manage_tb',
            url: '/scenicSpotClass',
            method: 'get',collapsible:true,
            onDblClickCell: ssclassonDblClickRow,
            onEndEdit: ssclassonEndEdit,fit:true,fitColumns:true,remoteSort:false,multiSort:true,pagination:true">
    <thead>
    <tr>
        <th data-options="field:'ck',checkbox:true"></th>
        <th data-options="field:'classId',width:80,sortable:true">分类Id</th>
        <th data-options="field:'className',width:100,sortable:true,editor:'textbox'">
            分类名
        </th>
        <th data-options="field:'creatTime',align:'right',sortable:true,formatter:formatTime">创建时间</th>
        <th data-options="field:'creatUser',align:'right',sortable:true">创建用户</th>
        <th data-options="field:'upTime',align:'right',sortable:true,formatter:formatTime">修改时间</th>
        <th data-options="field:'upUser',align:'right',sortable:true">修改用户</th>
    </tr>
    </thead>
</table>

<div id="ssclass_manage_tb" style="height:auto">
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-mini-add',plain:true"
       onclick="ssclassappend()">新增</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-mini-delete',plain:true"
       onclick="ssclassremoveit()">删除</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-mini-tick',plain:true"
       onclick="ssclassaccept()">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true"
       onclick="ssclassreject()">撤销全部操作</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-mini-refresh',plain:true"
       onclick="ssclassload()">刷新</a>
</div>

<script type="text/javascript">
    //user_manage
    var ssclassEditIndex = undefined;
    //结束编辑
    function ssclassEndEditing() {
        if (ssclassEditIndex == undefined) {
            return true
        }
        if ($('#ssclass_manage_table').datagrid('validateRow', ssclassEditIndex)) {
            $('#ssclass_manage_table').datagrid('endEdit', ssclassEditIndex);
            ssclassEditIndex = undefined;
            return true;
        } else {
            return false;
        }
    }
    function ssclassonDblClickRow(index, field) {
        if (ssclassEditIndex != index) {
            if (ssclassEndEditing()) {
                $('#ssclass_manage_table').datagrid('selectRow', index)
                    .datagrid('beginEdit', index);
                var ed = $('#ssclass_manage_table').datagrid('getEditor', {index: index, field: field});
                if (ed) {
                    ($(ed.target).data('textbox') ? $(ed.target).textbox('textbox') : $(ed.target)).focus();
                }
                ssclassEditIndex = index;
            } else {
                setTimeout(function () {
                    $('#ssclass_manage_table').datagrid('selectRow', ssclassEditIndex);
                }, 0);
            }
        }
    }
    function ssclassonEndEdit(index, row) {
        var ed = $(this).datagrid('getEditor', {
            index: index,
            field: 'className'
        });
        row.productname = $(ed.target).combobox('getText');
    }
    //新增
    function ssclassappend() {
        if (ssclassEndEditing()) {
            $('#ssclass_manage_table').datagrid('appendRow', {ck: false});
            ssclassEditIndex = $('#ssclass_manage_table').datagrid('getRows').length - 1;
            $('#ssclass_manage_table').datagrid('selectRow', ssclassEditIndex)
                .datagrid('beginEdit', ssclassEditIndex);
        }
    }
    <!--删除-->
    function ssclassremoveit() {
        var rows = $('#ssclass_manage_table').datagrid("getSelections");

        for (var i = 0; i < rows.length; i++) {
            var index = $('#ssclass_manage_table').datagrid("getRowIndex", rows[i]);
            $('#ssclass_manage_table').datagrid('cancelEdit', index)
                .datagrid('deleteRow', index);
        }
    }
    //保存
    function ssclassaccept() {
        $.messager.confirm('提示！', '保存后不可撤销，是否保存?', function (r) {
            if (r) {
                var isIns = true;
                var isUp = true;
                if (ssclassEndEditing()) {
                    <!--添加-->
                    var insrows = $('#ssclass_manage_table').datagrid('getChanges', 'inserted');
                    var insValueRows = new Array();
                    if (insrows.length > 0) {
                        for (var i = 0; i < insrows.length; i++) {
                            var className = insrows[i].className;
                            if (className == "") {
                                $.messager.alert('提示！', '新增数据中有值为空，请完善后保存!', 'warning');
                                isIns = false;
                            }else {
                                var ssclass = new Object();
                                ssclass.className = className;
                                insValueRows[i] = ssclass;
                            }
                        }
                        if (isIns) {
                            $.post("/scenicSpotClass/addBatch", {bean: JSON.stringify(insValueRows)}, function (data) {
                                if (data == true) {
                                    $.messager.alert('提示！', '新增数据保存成功!', 'success');
                                    isIns = true;
                                } else {
                                    $.messager.alert('提示！', '新增数据出错，请检查数据库!', 'error');
                                }
                            });
                        } else {
                            $.messager.alert('提示！', '发生错误！取消新增操作', 'error');
                        }

                    }

                    <!--修改-->
                    var uprows = $('#ssclass_manage_table').datagrid('getChanges', 'updated');
                    var upValueRows = new Array();
                    var upId = '';
                    if (uprows.length > 0) {
                        for (var i = 0; i < uprows.length; i++) {
                            var id = uprows[i].classId;
                            var className = uprows[i].className;

                            if (className == "") {
                                $.messager.alert('提示！', '修改数据中有值为空，无法完成修改操作保存!', 'warning');
                                isUp = false;
                            }else {
                                var ssclass = new Object();
                                ssclass.className = className;
                                upValueRows[i] = ssclass;
                            }
                            upId = upId + id + ',';
                        }
                        if (isUp) {
                            $.ajax({
                                type: 'put',
                                url: '/scenicSpotClass/upBatch',
                                data: {bean: JSON.stringify(upValueRows), ids: upId},
                                dataType: 'json',
                                success: function (data) {
                                    if (data == true) {
                                        $.messager.alert('提示！', '修改数据保存成功!', 'success');
                                    } else {
                                        $.messager.alert('提示！', '保存修改数据出错，请检查数据库!', 'error');
                                    }
                                }
                            });
                        } else {
                            $.messager.alert('提示！', '发生错误！取消修改操作！', 'error');
                        }

                    }
                    <!--删除-->
                    var deletes = $('#ssclass_manage_table').datagrid('getChanges', 'deleted');
                    var ids = '';
                    for (var i = 0; i < deletes.length; i++) {
                        if (deletes[i] != null) {
                            ids = ids + deletes[i].classId + ',';
                        }
                    }
                    if (ids != '') {
                        $.ajax({
                            type: 'delete',
                            url: '/scenicSpotClass',
                            data: {ids: ids},
                            dataType: 'json',
                            success: function (data) {
                                if (data == true) {
                                    $.messager.alert('提示！', '数据删除成功!', 'success');
                                } else {
                                    $.messager.alert('提示！', '数据删除失败！请检查数据库!', 'error');
                                }
                            }
                        });
                    }

                    if (isIns && isUp) {
                        $('#ssclass_manage_table').datagrid('acceptChanges');
                        setTimeout(function () {
                            $('#ssclass_manage_table').datagrid('load');
                        }, 1000);
                    }
                }
            }
        });
    }
    //撤销
    function ssclassreject() {
        $('#ssclass_manage_table').datagrid('rejectChanges');
        ssclassEditIndex = undefined;
    }
    //刷新
    function ssclassload() {
        $.messager.confirm('提示！', '将从数据库重新加载数据，是否继续？', function (r) {
            if (r) {
                $('#ssclass_manage_table').datagrid('load');
            }
        });
    }
</script>